Frame rate test results 

|File | FPS |  SPI type | Version |notes |
|--- |--- | --- | --- | --- |
|Frame_rate_test_bmp | 81 | 8Mhz HW SPI 0 | 1.0.2| --- |
|Frame_rate_test_bmp | 35 | 8Mhz HW SPI 1 (aux) | 1.0.2 | --- |
|Frame_rate_test_bmp | 3 | Software SPI | 1.0.2 | --- |
|Frame_rate_test_two | 16 | 8Mhz HW SPI 0 | 1.0.2| --- |
|Frame_rate_test_two | 10 | 8Mhz HW SPI 1 (aux) | 1.0.2 | --- |
|Frame_rate_test_two | 3 | Software SPI | 1.0.2 | --- |

